*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
180deg,
#070b1a,
#111827,
#1e1b4b
);

color:white;

overflow-x:hidden;

min-height:100vh;
}

#stars{

position:fixed;

width:100%;
height:100%;

top:0;
left:0;

z-index:-1;

overflow:hidden;
}

.star{

position:absolute;

color:white;

animation:twinkle 3s infinite;

}

@keyframes twinkle{

0%{opacity:.2;}

50%{opacity:1;}

100%{opacity:.2;}

}

header{

padding:80px 20px;

text-align:center;

}

header h1{

font-size:4rem;

margin-bottom:20px;

}

header p{

font-size:1.2rem;

opacity:.8;

}

.card{

background:
rgba(255,255,255,.08);

backdrop-filter:blur(12px);

width:90%;

max-width:900px;

margin:25px auto;

padding:30px;

border-radius:25px;

box-shadow:
0 0 30px rgba(255,255,255,.08);

transition:.3s;
}

.card:hover{

transform:translateY(-5px);

}

button{

padding:14px 24px;

border:none;

border-radius:15px;

background:#ec4899;

color:white;

font-size:16px;

cursor:pointer;

margin-top:15px;

}

button:hover{

transform:scale(1.05);

}

.result{

margin-top:15px;

font-size:18px;

}

#jardin{

font-size:30px;

min-height:80px;

margin-top:15px;

}

footer{

padding:50px;

text-align:center;

opacity:.7;

}

.secret{

display:none;
}
